nav{
	background-color: #041445;
	padding: 10px;
}
nav ul li{
	display: inline;
	padding: 5px;
	background-color: #ff6600;
	color: white;
}
nav ul li #cur-pg{
	background-color: #993d00;
}
p {
	margin: 10px 1000px 5px 0;
}