nav{
	background-color: #041445;
	padding: 10px;
}
nav ul li{
	display: inline;
	padding: 5px;
	background-color: #ff6600;
	color: white;
}
nav ul li #cur-pg{
	background-color: #993d00;
}
h1{
	text-align: 65%;
}
#content{
	text-align: center;
	width: 65%;
}
#links{
	border-width: 1px;
	border-color: black;
	display: inline-block;
	float: right;
}
#links img{
	width: 25%;
}