
#header{

	display: inline-table;

	background-color: blue;

}


nav{

	background-color: #041445;

	padding: 10px;

	color: white;
}

nav ul li{

	display: inline;

	padding: 5px;

	background-color: #ff6600;

	color: white;

}

nav ul li:hover{

	background-color: orange;


}

nav ul li a {

	text-decoration: none;

}


body {
	
	background-image: url(https://static.pexels.com/photos/281260/pexels-photo-281260.jpeg);
	color: white;
		margin: 10px 700px 10px 10px;
	font-family: verdana;

}
	

#content{

	background-color: rgba(0,0,0,.6);

	background-attachment: fixed;

	width: 1000px;

	margin-right: auto;

	margin-left: auto;

	color: white;
}

#urgent{

	background-color: red;

	color:white;

	font-weight: bold;

	text-align: center;

	padding: 3px;
}

iframe{

	display: block;

	margin: 0 auto;
}


/* Rules for tablet*/
@media only screen and (max-width: 1000px){
	nav ul li{
		display: inline-flex;
		flex-wrap: wrap;
		margin-top: 10px;
	}
	#content{
		width: 100%;
		justify-content: center;
	}
	#urgent{
		width: 100%;
	}
	p{
		text-align: center;
	}
}
/*Rules for phones*/
@media only screen and (max-width: 500px){
	#content{
		line-height: 1.5;
	}
	body{
		background-image: linear-gradient(lightgray,darkgray);
	}
}